<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dog" class="com.springcloud.study.enties.Dog"/>

    <bean id="catXXX" class="com.springcloud.study.enties.Cat"/>

    <bean id="user" class="com.springcloud.study.enties.User" autowire="byName">
        <property name="str" value="张三"/>
    </bean>


</beans>